<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server Management</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "server_management/global_styles.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "server_management/main_menu.css" %}">

</head>
<body>
<div class="grid-container">
    <div class="page">
        <div class="pageName">
            <a>Hlavná ponuka</a>
        </div>
    </div>
    <div class="header">
        <div class="navbar">
                {% for server in server_conn %}
                    <a class="buttonMain buttonMainBig" href="{% url 'server_management:server_call_url' server %}">
                        {{ server }}
                    </a>
                {% endfor %}
            <a class="logout" href="{% url 'server_management:logout_url' %}">Odhlásiť</a>
        </div>
    </div>

    <div class="main">
        <div class="flex-container" style="color: black">

            {% if server_data_latest|length is 0 %}
                <a style="color: black; margin-top: 30vh">No servers found :{</a>
            {% else %}

            {% for x in server_data_latest %}

                <div class="server" onclick="location.href='server_data/{{ x.server_name_id }}'">
                    <div class="server-head">
                        <div class="shownStatForServerName box_for_server">
                            <a>Názov servera:</a>
                            {% if x.server_name_id is None %}
                                <a>chybaju dáta</a>
                            {% else %}
                                <a>{{ x.server_name_id }}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="server-mid">
                        <div class="shownStatForCpu box_for_server">
                            <a>CPU</a>
                            {% if x.cpu_usage is None %}
                                <a>data_missing</a>
                            {% else %}
                                <a>{{ x.cpu_usage }} %</a>
                            {% endif %}
                        </div>
                        <div class="shownStatForRam box_for_server">
                            <a>RAM</a>
                            {% if x.ram_usage is None %}
                                <a>data_missing</a>
                            {% else %}
                                <a>{{ x.ram_usage }} MB</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="server-bot">
                        <div class="shownStatForDate box_for_server">
                            <a>Dátum</a>
                            {% if x.date is None %}
                                <a>data_missing</a>
                            {% else %}
                                <a>{{ x.date }}</a>
                            {% endif %}
                        </div>

                        <div class="shownStatForTime box_for_server">
                            <a>Čas</a>
                            {% if x.time is None %}
                                <a>data_missing</a>
                            {% else %}
                                <a>{{ x.time }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}

            {% endif %}
        </div>
    </div>

    <div class="side">
        <div class="sidebar">
{#            <a class="sidebarContentA" onclick="sortByCpuLowHigh()">CPU vzostupne</a>#}
{#            <a class="sidebarContentA" onclick="sortByCpuHighLow()">CPU zostupne</a>#}

            <div class="sidebarContentB">
                <a style="opacity: 0"></a>
                <a>CPU</a>
                <label class="switch">
                    <input type="checkbox"  checked="true" name="checkbox1" onclick="updateShowedData('1','Cpu')">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="sidebarContentB">
                <a style="opacity: 0"></a>
                <a>RAM</a>
                <label class="switch">
                    <input type="checkbox"  checked="true" name="checkbox2" onclick="updateShowedData('2', 'Ram')">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="sidebarContentB" id="setTime">
                <a style="opacity: 0"></a>
                <a>ČAS</a>
                <label class="switch">
                    <input type="checkbox" checked="true" name="checkbox3" onclick="updateShowedData('3','Time')">
                    <span class="slider round"></span>
                </label>
            </div>

            </div>
        </div>
    </div>

</div>

{% load static %}
<script src="{% static "server_management/main_menu_sorting.js"%}"></script>
</body>
</html>