<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'server_management/table_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'server_management/Chart.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'server_management/server_data.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'server_management/global_styles.css' %}">
    <script src="{% static 'server_management/Chart.min.js' %}"></script>

</head>
<body>

<div class="grid-container">
    <div class="grid-head">
        <div class="grid-head-info">
            <table>
                <tr>
                    <th>Názov servera</th>
                    {% if server_info.0.server_nickname is not None%}
                    <th>server nick</th>
                    {% endif %}
                    <th>Interval monitorovania</th>
                    <th>OS</th>
                    <th>Server IP</th>
                    <th>Server port</th>
                </tr>
                <tr>
                    {% if server_info.0.server_name is not None %}
                        <td>{{ server_info.0.server_name }}</td>
                    {% else %}
                        <td>null</td>
                    {% endif %}

                    {% if server_info.0.server_nickname is not None %}
                        <td>{{ server_info.0.server_nickname }}</td>
                    {% endif %}

                    {% if server_info.0.data_collection_delay_minutes is not None %}
                        <td title="minutes">{{ server_info.0.data_collection_delay_minutes }}</td>
                    {% else %}
                        <td>null</td>
                    {% endif %}

                    {% if server_info.0.server_os is not None %}
                        <td>{{ server_info.0.server_os }}</td>
                    {% else %}
                        <td>null</td>
                    {% endif %}

                    {% if server_info.0.server_ip is not None %}
                        <td>{{ server_info.0.server_ip }}</td>
                    {% else %}
                        <td>null</td>
                    {% endif %}

                    {% if server_info.0.server_port is not None %}
                        <td>{{ server_info.0.server_port }}</td>
                    {% else %}
                        <td>null</td>
                    {% endif %}
                </tr>
            </table>
        </div>
        <div class="grid-head-menu">
            {% for field in server_info %}
                <a class="buttonMain buttonMainBig" href="{% url 'server_management:server_call_url' field.server_name %}">Pripojiť</a>
            {% endfor %}
            <a class="buttonMain buttonMainBig" href="{% url 'server_management:main_menu_url' %}">Menu</a>
            <a class="logout" href="{% url 'server_management:logout_url' %}">Odhlásiť</a>
        </div>
    </div>
    <div class="grid-main">
        <canvas id="myChart"></canvas>
    </div>
    <div class="grid-footer">
        <div class="grid-control">
{#            <a onclick="removeData()" class="buttonMain buttonMainBig">DELETE</a>#}
{#            <a onclick="updateData()" class="buttonMain buttonMainBig">REFRESH</a>#}
            <a id="down_json" class="buttonMain buttonMainBig">JSON</a>
            <a id="down_csv" class="buttonMain buttonMainBig">CSV</a>
        </div>
        <div class="grid-graphs">
            <a id="chart_cpu" class="buttonMain buttonMainBig buttonDataSelected" onclick="setChart(`cpu`)">CPU</a>
            <a id="chart_ram" class="buttonMain buttonMainBig" onclick="setChart(`ram`)">RAM</a>
        </div>
    </div>
</div>

<script>
    let ctx = document.getElementById('myChart').getContext('2d');

    let labels = [ {% for date in server_data %} "{{ date.time }}", {% endfor %} ];
    let data_cpu = [ {% for date in server_data %} "{{ date.cpu_usage }}", {% endfor %} ];
    let data_ram = [ {% for date in server_data %} "{{ date.ram_usage }}", {% endfor %} ];
    let data_ram_capacity = [ {% for date in server_data %} "{{ date.ram_capacity }}", {% endfor %} ];
    let encodedUri;

    console.log(labels);
    console.log(data_cpu);
    console.log(data_ram);
    console.log(data_ram_capacity);

    let chart_ram = /*new Chart(ctx,*/{
        type: "bar",
        data:{
            labels: [...labels],
            datasets:[
                {
                    label: 'RAM',
                    backgroundColor: 'rgb(30, 226, 30)',
                    borderColor: 'rgb(30, 142, 30)',
                    data: [...data_ram]
                },
                {
                    label: 'RAM CAPACITY',
                    backgroundColor: 'rgb(200, 150, 1)',
                    borderColor: 'rgb(30, 142, 30)',
                    data: [...data_ram_capacity]
                }
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales:{
                xAxes:[{
                   stacked: true
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    };

    let chart_cpu = {
    // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: [...labels],
            datasets: [
                {
                    label: 'CPU',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [...data_cpu],
                    {#hidden: true#}
                }
                ]
        },

        // Configuration options go here
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales:{
            yAxes: [{
        ticks: {
            min: 0,
            max: 100,
            {#stepSize: 20#}
        }
    }]}
        }
    };

    let chart = new Chart(ctx, chart_cpu);
    chart.update();

    function setChart(type) {

        let className = "buttonDataSelected";
        if (type === "ram"){
            console.log("X1");
            chart.destroy();
            chart = new Chart(ctx, chart_ram);
            chart.update();
            document.getElementById("chart_ram").classList.add(className)
            document.getElementById("chart_cpu").classList.remove(className);
        }
        else{
            console.log("X2");
            chart.destroy();
            chart = new Chart(ctx, chart_cpu);
            chart.update();
            document.getElementById("chart_cpu").classList.add(className);
            document.getElementById("chart_ram").classList.remove(className);
        }
    }
    function removeData() {
        {#console.log(chart);#}
        chart.data.labels.pop();
        chart.data.datasets.forEach((dataset) => {
            dataset.data.pop();
        });
        chart.update();
    }

    function updateData() {

        chart.data.labels = [...labels];
        chart.data.datasets[0].data = [...data_cpu];
        chart.data.datasets[1].data = [...data_ram];

        console.log(chart.data.labels);
        console.log(chart.data.datasets[0].data);

        chart.update();
    }

    function getDownloadJSON(){

        console.log("{{ server_data.0.time|time:"H:i" }}");
        {#console.log(new Date("{{ server_data.0.time }}"));#}
        let data = [
            {% for data in server_data %}
                {
                    Server_name: "{{ data.server_name_id }}",
                    cpu: {{ data.cpu_usage }},
                    ram: {{ data.ram_usage }},
                    ram_capacity: {{ data.ram_capacity }},
                    date: "{{ data.date|date:"d-m-Y" }}",
                    time: "{{ data.time|time:"H:i" }}",
                },
            {% endfor %}
            ];

        let csv = [
            [
                "Server_name", "CPU_usage", "RAM_usage", "RAM_capacity", "date", "time"
            ],
            {% for data in server_data %}
                [
                    "{{ data.server_name_id }}",
                    "{{ data.cpu_usage }}",
                    "{{ data.ram_usage }}",
                    "{{ data.ram_capacity }}",
                    "{{ data.date|date:"d-m-Y" }}",
                    "{{ data.time|time:"H:i" }}"
                ],
            {% endfor %}
        ];

        console.log("X",data);
        console.log("Y",csv);

        let csvContent = "data:text/csv;charset=utf-8,";

        csv.forEach(function(rowArray) {
            let row = rowArray.join(",");
            csvContent += row + "\r\n";

            encodedUri = encodeURI(csvContent);
        });
        let dataO = "text/json;charset=utf-8,"+ encodeURIComponent(JSON.stringify(data));
        document.getElementById("down_json").setAttribute('href', "data:"+dataO);//download='data.json'";
        document.getElementById("down_json").setAttribute('download', "{{ server_info.0.server_name }}.json");//download='data.json'";

        document.getElementById("down_csv").setAttribute('href', encodedUri);//download='data.json'";
        document.getElementById("down_csv").setAttribute('download', "{{ server_info.0.server_name }}.csv");//download='data.json'";
    }

        getDownloadJSON();
</script>


</body>
</html>