<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ server_name }}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "/server_management/global_styles.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/server_management/server_call_style.css" %}">

</head>
<body>
<div class="grid-container">

    <div class="control">
        <div class="controlName">
            <a>{{ server_name }}</a>
        </div>

        <div class="controlContent">
            <a class="buttonMain" onclick="clearConsole()">
                clear
            </a>
            <a class="buttonMainLong" onclick="refreshDataGathering()">
                refresh data gathering
            </a>
            <a class="buttonMain" onclick="restartConnection()">
                restart
            </a>
            <div id="server_call_connection_connected" class="server_call_connection" style="display: none">
                <a class="buttonMain buttonMainBig button_disconnect_hover" onclick="disconnectFromServer()">disconnect</a>
                <div class="indicator connected" title="Connected to {{ server_name }}"></div>
            </div>
            <div id="server_call_connection_disconnected" class="server_call_connection" hidden="false">
                <a class="buttonMain buttonMainBig button_connect_hover" onclick="connectToServer()">Connect</a>
                <div class="indicator disconnected" title="Not connected to {{ server_name }}"></div>
            </div>
        </div>
    </div>

    <div class="header">
        <div class="headerContent">
            <a class="buttonMain buttonMainBig" href="{% url 'server_management:server_data_url' server_name  %}">{{ server_name }}</a>
            <a class="buttonMain buttonMainBig" href="{% url 'server_management:main_menu_url' %}">Hlavne menu</a>
            <a class="logout" href="{% url 'server_management:logout_url' %}">Odhlasit</a>
        </div>
    </div>

    <div class="console">
        <pre id="scroll" class="console_console"></pre>
        <div id="loading_animation" class="loader"  style="display: none"></div>
    </div>

    <div class="commands_2">
        <div class="commands_head">
            <div class="commands_head_item" id="commands_head_global">global</div>
            <div class="commands_head_item" id="commands_head_user">user</div>
            <div class="commands_head_item" id="commands_head_recent">recent</div>
        </div>
        <div id="commands_body_global" class="commands_body">
            {% for command in global_commands %}
                <div class="commands_command_row">
                    <div class="commands_body_command">{{ command.command }}</div>
                    <div class="commands_body_clear">
                        <a>clear</a>
                        <a style="display: none;">global</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="commands_body_user" class="commands_body" style="display: none">
            {% for command in user_commands %}
                <div class="commands_command_row">
                    <div class="commands_body_command">{{ command.command }}</div>
                    <div class="commands_body_clear">
                        <a>clear</a>
                        <a style="display: none;">user</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="commands_body_recent" class="commands_body" style="display: none">
            {% for command in global_commands %}
                <div class="commands_command_row">
                    <div class="commands_body_command">{{ command.command }}</div>
                    <div class="commands_body_clear">
                        <a>clear</a>
                        <a style="display: none;">recent</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="commands" style="display: none">
        <table id="tableGlobal">
            <tr>
                <th class="selected_col" onclick="showTable('Global')">global</th>
                <th onclick="showTable('User')">user</th>
                <th onclick="showTable('Used')">used</th>
            </tr>
            {% for global in global_commands %}
                <tr>
                    <td colspan="3">
                        <div class="obal">
                            <a class="commandSendToInput">{{ global.commandsave }}</a>
                            <a class="deleteRow" onclick="deleteRow(this)">X</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <table id="tableUser">
            <tr>
                <th onclick="showTable('Global')">global</th>
                <th class="selected_col" onclick="showTable('User')">user</th>
                <th onclick="showTable('Used')">used</th>
            </tr>
            {% for user in user_commands %}
                <tr>
                    <td colspan="3">
                        <div class="obal">
                            <a class="commandSendToInput">{{ user.commandsave }}</a>
                            <a class="deleteRow" onclick="deleteRow(this)">X</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <table id="tableUsed">
            <tr>
                <th onclick="showTable('Global')">global</th>
                <th onclick="showTable('User')">user</th>
                <th class="selected_col" onclick="showTable('Used')">used</th>
            </tr>
            {% for command in used_commands reversed %}
                <tr>
                    <td colspan="3">
                        <div class="obal">
                            <a class="commandSendToInput">{{ command }}</a>
                            <a class="deleteRow" onclick="deleteRow(this)">clear</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="confirm">
            <div class="inputContainerA">
                <input class="inputCommand" name="command" id="server_cmd_input"/>
                <input id="server_cmd_submit" class="inputCommandSend" type="button" value="Send">
            </div>
    </div>

    <div class="learn">
        <div class="learn_container">
            <input id="command_save_command" name="commandSave" class="learnInput">

            <div class="learnLabel">
                <div>
                    <input  type="radio" id="target1" name="target" value="global">
                    <label for="target1">Global</label>
                </div>
                <div>
                    <input type="radio" id="target2" name="target" value="user" checked>
                    <label for="target2">User</label>
                </div>
            </div>

            <input id="command_save" class="learnSend" type="submit" value="Save Command">
        </div>
    </div>

</div>

<script>
    const serverName = "{{ server_name }}";
</script>
<script src="{% static "server_management/server_call.js" %}"></script>

</body>
</html>