<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        pre{
            background: black;
            color: aliceblue;
        }
    </style>
</head>
<body>
    {{ par1 }}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {{ cmd }}

    <ul>
    {% for x in response %}
        <li>{{ x }}</li>
    {% endfor %}
    </ul>
    {#        <pre>{{ x }}</pre>#}
    <div>
        <pre>
            {% for x in response %}{{ x }}{% endfor %}
        </pre>
    </div>

</body>
</html>