<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'server_management/table_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'server_management/Chart.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'server_management/server_data.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'server_management/global_styles.css' %}">
    <script src="{% static 'server_management/Chart.min.js' %}"></script>

</head>
<body>

<div class="grid-container">
    <div class="grid-head">
        <div class="grid-head-info">
            <table>
                <tr>
                    <th>Server name</th>
                    <th>server nick</th>
                    <th>refresh rate</th>
                    <th>OS</th>
                    <th>Server IP</th>
                    <th>Server port</th>
                </tr>
                <tr>
                    {% if server_info.0.server_name is not None %}
                        <td>{{ server_info.0.server_name }}</td>
                    {% else %}
                        <td>null</td>
                    {% endif %}

                    {% if server_info.0.server_nickname is not None %}
                        <td>{{ server_info.0.server_nickname }}</td>
                    {% else %}
                        <td>null</td>
                    {% endif %}

                    {% if server_info.0.data_collection_delay_minutes is not None %}
                        <td>{{ server_info.0.data_collection_delay_minutes }}</td>
                    {% else %}
                        <td>null</td>
                    {% endif %}

                    {% if server_info.0.os is not None %}
                        <td>{{ server_info.0.os }}</td>
                    {% else %}
                        <td>null</td>
                    {% endif %}

                    {% if server_info.0.server_ip is not None %}
                        <td>{{ server_info.0.server_ip }}</td>
                    {% else %}
                        <td>null</td>
                    {% endif %}

                    {% if server_info.0.server_port is not None %}
                        <td>{{ server_info.0.server_port }}</td>
                    {% else %}
                        <td>null</td>
                    {% endif %}
                </tr>
            </table>
        </div>
        <div class="grid-head-menu">
            {% for field in server_info %}
                <a class="buttonMain buttonMainBig" href="{% url 'server_management:server_call_url' field.server_name %}">Pripojiť</a>
            {% endfor %}
            <a class="buttonMain buttonMainBig" href="{% url 'server_management:main_menu_url' %}">Menu</a>
            <a class="logout" href="{% url 'server_management:logout_url' %}">Odhlásiť</a>
        </div>
    </div>
    <div class="grid-main">
        <canvas id="myChart"></canvas>
    </div>
    <div class="grid-control">
        <a onclick="removeData()" class="buttonMain buttonMainBig">DELETE</a>
        <a onclick="updateData()" class="buttonMain buttonMainBig">REFRESH</a>
        <a id="down_json" class="buttonMain buttonMainBig">JSON</a>
        <a id="down_csv" class="buttonMain buttonMainBig">CSV</a>
    </div>
</div>

<script>
    let ctx = document.getElementById('myChart').getContext('2d');

    let labels = [ {% for date in server_data %} "{{ date.time }}", {% endfor %} ];
    let data_cpu = [ {% for date in server_data %} "{{ date.cpu_usage }}", {% endfor %} ];
    let data_ram = [ {% for date in server_data %} "{{ date.ram_usage }}", {% endfor %} ];
    let encodedUri;

    console.log(labels);
    console.log(data_cpu);
    console.log(data_ram);

    let chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: [...labels],
        datasets: [{
            label: 'CPU',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [...data_cpu],
            hidden: true
        },
        {
            label: 'RAM',
            backgroundColor: 'rgb(30, 226, 30)',
            borderColor: 'rgb(30, 142, 30)',
            data: [...data_ram]
        }
        ]
    },

    // Configuration options go here
    options: {
        responsive: true,
        maintainAspectRatio: false
    }
});

    function removeData() {
        {#console.log(chart);#}
        chart.data.labels.pop();
        chart.data.datasets.forEach((dataset) => {
            dataset.data.pop();
        });
        chart.update();
    }

    function updateData() {

        chart.data.labels = [...labels];
        chart.data.datasets[0].data = [...data_cpu];
        chart.data.datasets[1].data = [...data_ram];

        console.log(chart.data.labels);
        console.log(chart.data.datasets[0].data);

        chart.update();
    }

    function getDownloadJSON(){
        let data = [
            {% for data in server_data %}
                {Server_name: "{{ data.server_name }}", cpu: {{ data.cpu_usage }}, ram: {{ data.ram_usage }} },
            {% endfor %}
            ];

        let csv = [
            [
                "Server_name", "CPU_usage", "RAM_usage"
            ],
            {% for data in server_data %}
                [
                    "{{ data.server_name }}", "{{ data.cpu_usage }}", "{{ data.ram_usage }}"
                ],
            {% endfor %}
        ];

        console.log("X",data);
        console.log("Y",csv);

        let csvContent = "data:text/csv;charset=utf-8,";

        csv.forEach(function(rowArray) {
            let row = rowArray.join(",");
            csvContent += row + "\r\n";

            encodedUri = encodeURI(csvContent);
        });

        let dataO = "text/json;charset=utf-8,"+ encodeURIComponent(JSON.stringify(data));
        document.getElementById("down_json").setAttribute('href', "data:"+dataO);//download='data.json'";
        document.getElementById("down_json").setAttribute('download', "{{ server_info.0.server_name }}.json");//download='data.json'";

        document.getElementById("down_csv").setAttribute('href', encodedUri);//download='data.json'";
        document.getElementById("down_csv").setAttribute('download', "{{ server_info.0.server_name }}.csv");//download='data.json'";
    }

        getDownloadJSON();
</script>


</body>
</html>