<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "/server_management/global_styles.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/server_management/server_call_style.css" %}">
{#    <script src="{% static "/server_management/server_call.js" %}"></script>#}

</head>
<body>
<div class="grid-container">

    <div class="control">
        <div class="controlName">
            <a>{{ server_name }}</a>
        </div>

        <div class="controlContent">
            <a class="buttonMain">clear</a>
            <a class="buttonMain">restart</a>
            <a class="buttonMain buttonMainBig" onclick="disconnectSocket()">disconnect</a>
            {% if connection  == True %}
                <div class="indicator connected" title="Connected to {{ server_name }}"></div>
            {% else %}
                <div class="indicator disconnected" title="Not connected to {{ server_name }}"></div>
            {% endif %}

        </div>
    </div>

    <div class="header">
        <div class="headerContent">
            <a class="buttonMain buttonMainBig" href="{% url 'server_management:server_data_url' server_name  %}">{{ server_name }}</a>
            <a class="buttonMain buttonMainBig" href="{% url 'server_management:main_menu_url' %}">Hlavne menu</a>
            <a class="logout" href="{% url 'server_management:logout_url' %}">Odhlasit</a>
        </div>
    </div>
    <div class="console">
        <pre id="scroll" >{% for a in cmd_history %}{{ a }}{% endfor %}</pre>
    </div>

    <div class="commands">
        <table id="tableGlobal">
            <tr>
                <th class="selected_col" onclick="showTable('Global')">global</th>
                <th onclick="showTable('User')">user</th>
                <th onclick="showTable('Used')">used</th>
            </tr>
            {% for global in global_commands %}
                <tr>
                    <td colspan="3">
                        <div class="obal">
                            <a class="commandSendToInput">{{ global.commandsave }}</a>
                            <a class="deleteRow" onclick="deleteRow(this)">X</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <table id="tableUser">
            <tr>
                <th onclick="showTable('Global')">global</th>
                <th class="selected_col" onclick="showTable('User')">user</th>
                <th onclick="showTable('Used')">used</th>
            </tr>
            {% for user in user_commands %}
                <tr>
                    <td colspan="3">
                        <div class="obal">
                            <a class="commandSendToInput">{{ user.commandsave }}</a>
                            <a class="deleteRow" onclick="deleteRow(this)">X</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <table id="tableUsed">
            <tr>
                <th onclick="showTable('Global')">global</th>
                <th onclick="showTable('User')">user</th>
                <th class="selected_col" onclick="showTable('Used')">used</th>
            </tr>
            {% for com in used_commands reversed %}
                <tr>
                    <td colspan="3">
                        <div class="obal">
                            <a class="commandSendToInput">{{ com }}</a>
                            <a class="deleteRow" onclick="deleteRow(this)">X</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="confirm">
        <form id="send_command" method="post">
            {% csrf_token %}
            <div class="inputContainerA">
                <input class="inputCommand" name="command" id="inputCommand"/>
                <button class="inputCommandSend" type="submit">Send</button>
            </div>
        </form>
    </div>

    <div class="learn">
        <form id="learn_command" method="post">
            {% csrf_token %}
            <div class="learn_container">
                <input name="commandSave" class="learnInput">

                <div class="learnLabel">
                    <div>
                        <input  type="radio" id="target1" name="target" value="global">
                        <label for="target1">Global</label>
                    </div>
                    <div>
                        <input type="radio" id="target2" name="target" value="user" checked>
                        <label for="target2">User</label>
                    </div>
                </div>

                <button class="learnSend" type="submit">Save Command</button>
            </div>
        </form>
    </div>
</div>

{#    <button onclick="what()">DISCARD SOCKET</button>#}

<script src="{% static "server_management/server_call.js" %}"></script>

<script>
         function  disconnectSocket() {
             let request = new XMLHttpRequest();

             request.open("POST", "",true);
             request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
             request.send();

             return "Write smthing";
         }

    </script>


</body>
</html>