<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'server_management/table_style.css' %}">

</head>
<body>
{% block loggedin %}
    {% if user.is_authenticated %}
        You are logged in as: {{ user.username }}
        <a href="/server_management/accounts/logout">logout</a>
    {% else %}
        You are not logged in
        <a href="/server_management/accounts/login">login</a>
    {% endif %}
{% endblock %}

<table>
    <tr>
        <th>Server_name</th>
        <th>cpu</th>
        <th>ram</th>
        <th>date</th>
        <th>time</th>
    </tr>
    {% for data in raw_data %}
        <tr>
            <th>{{ data.server_name }}</th>
            <th>{{ data.cpu_usage }}</th>
            <th>{{ data.ram_usage }}</th>
            <th>{{ data.date }}</th>
            <th>{{ data.time }}</th>
        </tr>
    {% endfor %}
</table>
<a href="/server_management">SERVER_INFO</a>

</body>
</html>