<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'server_management/table_style.css' %}">

</head>
<body>

    <table>
        <tr>
            <th>ServerName</th>
            <th>Server_ip</th>
            <th>Server port</th>
        </tr>
        {% for data in data_from_db %}
            <tr>
                <th><a href="server_call/{{ data.server_name }}">{{ data.server_name }}</a></th>
                <th>{{ data.server_ip }}</th>
                <th>{{ data.server_port }}</th>
            </tr>
        {% endfor %}
    </table>

    {% for server in data_from_db %}
        <div >

        </div>
    {% endfor %}

<a href="server_data">SERVER_DATA</a>
</body>
</html>