body{
    margin: 0;
    padding: 0;
    background-color: #1f283f;
}

.buttonMain{
    width: 80px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 15px;
    /*background-color: #1f283f;*/
    border: 1px solid white;
    border-radius: 25px;

    text-decoration: none;
}

.buttonMainBig {
    width: 110px;
    text-decoration: none;
    color: inherit;
}

.buttonMain:hover{

    background-color: #138a07;
    border: 1px solid #138a07;

    cursor: pointer;
}

.logout{
    width: 90px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;

    border: 2px solid white;
    border-radius: 25px;

    /*background-color: #0b0c10;*/

    font-size: 18px;
}
.logout:visited, .logout:link{
    text-decoration: none;
    color: white;
}
.logout:hover{
    background-color: red;
    border: 2px solid red;


    cursor: pointer;
}