body{
    margin: 0;
    padding: 0;
    color: rgb(255,255,255);

    font-family: Lato,sans-serif;
    font-size: 16px;
}

.grid-container{
    display: grid;
    grid-template-areas:
            "page header header header header"
            "side main main main main";

    height: 100vh;
    width: 100vw;

    grid-template-rows: 60px auto;
    grid-template-columns: 20vw repeat(4,auto);
}

.page{
    grid-area: page;

    height: 100%;
    width: 100%;

    background-color: rgb(30, 37, 48);
    font-size: 20px;
}

.header{
    grid-area: header;

    height: 100%;
    width: 100%;

    background-color: rgb(30, 37, 48);
}

.main{
    grid-area: main;

    height: 100%;
    width: 100%;

    background-color: rgb(244, 245, 248);
}

.side{
    grid-area: side;

    height: 100%;
    width: 100%;

    background-color: rgb(44, 54, 69);
    /*border: 1px solid blue;*/
}
/*END OF SITE LAYOUT*/
.navbar{
    height: inherit;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*end of navbar*/

.pageName{
    height: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*END OF PAGE NAME*/

.sidebar{
    position: sticky;
    top: 0;
    /*maybe change*/

    width: inherit;
    height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    /*border: 1px solid blue;*/
}

.sidebarContentA{
    text-align: center;
    padding: 10px 0 10px 0;

    border: 1px solid black;
    margin-bottom: 1px;
}
.sidebarContentA:hover{
    cursor: pointer;
    background-color: #1f283f;
    /*color: black;*/
}

.sidebarContentB{
    text-align: center;
    padding: 10px 7px 10px 0;

    display: grid;
    grid-template-columns: 1fr repeat(1, auto) 1fr;
    grid-column-gap: 5px;
    justify-items: right;


    border: 1px solid black;
    margin-bottom: 1px;
}
/*
.sidebarContentB>a{
    padding-right: 5px;
    margin-right: 20px;
}*/
.sidebarContentB:hover{
    cursor: pointer;
    /*background-color: #c5c6c7;*/
    background-color: #1f283f;
    /*color: black;*/
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0e6305;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/*END OF SIDEBAR*/

.flex-container{

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.server{
    width: 300px;
    height: 300px;

    margin: 40px 10px 0 10px;
    border: 2px solid #1f283f;
    border-radius: 25px;

    /*background-color: #66fcf1;*/
    background-color: rgb(44, 54, 100);

    display: grid;
    grid-template-areas:
            'top'
            'mid'
            'bot';
    grid-template-rows: 1fr 1fr 1fr;
}
.server-head{
    width: 100%;
    height: 100%;

    grid-area: top;
    display: flex;
    flex-direction: column;

    /*align-items: center;*/
}
.server-mid{
    width: 100%;
    height: 100%;

    grid-area: mid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.server-bot{
    width: 100%;
    height: 100%;

    grid-area: bot;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.box_for_server{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border: 1px solid black;
    border-radius: 25px;
}

/*END OF MAIN CONTENT LAYOUT*/