pre{
    background: black;
    color: aliceblue;
    /*color: white;*/
}

.grid-container{
    display: grid;
    grid-template-areas:
            'control header'
            'console commands'
            'confirm learn';
    grid-template-columns: auto 30vw;
    grid-template-rows: 50px calc(100vh - 150px) 100px;
}
/*CONTROL*/
.control{
    grid-area: control;
    height: 50px;

    display: flex;
    justify-content: space-between;
    padding-right: 5px;

    background-color: #1f2833;
    color: #66fcf1;

    border: 1px solid red;
}
.controlName{
    height: inherit;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 10px;

    font-size: 20px;
}

.controlContent{
    height: inherit;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-right: 5px;
}
/*END OF CONTROL*/
/*HEADER*/
.header{
    grid-area: header;
    height: 50px;

    background-color: #1f2833;

    border: 1px solid green;
}
.headerContent{
    height: inherit;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/*END HEADER*/
/*CONSOLE*/
.console{
    grid-area: console;
    background-color: black;

    /*height: calc(100vh - 150px);*/
    overflow: auto;

    border: 1px solid green;
}
/*END CONSOLE*/
/*COMMANDS*/
.commands{
    grid-area: commands;
    background-color: #c5c6c7;

    /*height: calc(100vh - 150px);*/
    overflow-y: auto;

    font-size: 20px;
    border: 1px solid red;
}
/*END COMMANDS*/
/*CONFIRM*/
.confirm{
    grid-area: confirm;
    height: 100px;

    border: 1px solid red;
}
/*END CONFIRM*/
/*LEARN*/
.learn{
    grid-area: learn;
    height: 100px;

    border: 1px solid green;
}
/*END LEARN*/

table,th,td {
    border: 1px solid black;
}
table{
    width: 100%;
}
td:hover{
    background-color: green;
    color: red;
}

.indicator{
    width: 30px;
    height: 30px;

}
.connected{
    background-color: green;
}

.disconnected{
    background-color: red;
}