pre{
    background: black;
    color: white;
    /*color: white;*/
}

body{
    margin: 0;
    padding: 0;
    color: rgb(255,255,255);

    font-family: Lato,sans-serif;
    font-size: 16px;
}

@media only screen and (max-width: 800px) {
     .grid-container{
        display: grid;
        grid-template-areas:
                'header'
                'control'
                'console'
                'confirm'
                'commands'
                'learn';
        grid-template-columns: 100vw;
        grid-template-rows: 60px 60px calc(100vh - 110px) 50px auto 50px;
    }
}
@media only screen and (min-width: 801px) {
    .grid-container {
        display: grid;
        grid-template-areas:
            'control header'
            'console commands'
            'confirm learn';
        grid-template-columns: 60vw auto;
        grid-template-rows: 60px calc(100vh - 110px) 50px;
    }
}

/*CONTROL*/
.control{
    grid-area: control;
    /*height: 50px;*/

    display: flex;
    justify-content: space-between;
    padding-right: 5px;

    background-color: rgb(30, 37, 48);
}
.controlName{
    height: inherit;
    /*width: 100px;*/

    display: flex;
    justify-content: center;
    align-items: center;

    /*padding:  10px;*/
    margin-left: 10px;

    font-size: 20px;
}
.controlName::selection {
  background: none;
}

.controlName > a{
    border-radius: 25px;

    padding: 5px 10px 5px 10px;
    border: 1px solid white;
}

.controlContent{
    height: inherit;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-right: 5px;
}
.server_call_connection{
    display: flex;

}
/*END OF CONTROL*/
/*HEADER*/
.header{
    grid-area: header;
    /*height: 50px;*/

    background-color: rgb(30, 37, 48);
}
.headerContent{
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/*END HEADER*/
/*CONSOLE*/
.console{
    grid-area: console;
    background-color: black;

    border-bottom:2px solid white ;
    /*height: calc(100vh - 150px);*/
    overflow: auto;
}
.console > .loader{
    position: relative;
    top: calc(50% - 30px);
    left:calc(50% - 30px);
    /*right:0;*/
    /*bottom:0;*/
}
/*END CONSOLE*/
/*COMMANDS*/
.commands{
    grid-area: commands;
    background-color: #c5c6c7;

    width: 100%;
    height: 100%;

    /*height: calc(100vh - 150px);*/
    overflow-y: auto;

    font-size: 20px;
}
/*END COMMANDS*/
/*CONFIRM*/
.confirm{
    grid-area: confirm;
    /*height: 100px;*/

    background-color: rgb(44, 54, 69);
}
/*END CONFIRM*/
/*LEARN*/
.learn{
    grid-area: learn;

    background-color: rgb(44, 54, 69);
}
/*END LEARN*/

table,th,td {
    border: 1px solid black;
    color: #2857a1;
    background-color: #fff;
    size: 14px;
}
table{
    width: 100%;
}
.obal{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.deleteRow{
    cursor: pointer;
    color: red;
}

td:hover{
    background-color: green;
    color: red;
}

.indicator{
    width: 30px;
    height: 30px;
    border-radius: 25px;
}
.connected{
    background-color: green;
}

.disconnected{
    background-color: red;
}

.selected_col{
    background-color: #138a07;
    color: white;
}

form{
    height: 100%;
    width: 100%;
}



.inputContainerA{
    display: grid;
    grid-template-areas: 'input send';
    grid-template-columns: 80% auto;
    grid-gap: 0;

    width: 100%;
    height: 100%;

    border: 0;
    padding: 0;
}

.inputCommandSend{
    grid-area: send;
    width: 100%;
    height: 100%;

    font-size: 18px;
    font-weight: bold;
}
.inputCommandSend:focus{
    background-color: #138a07;
    border-color: #0e6305;
}

.inputCommand{
    grid-area: input;

    background-color: black;
    color: white;

    padding: 0 0 0 10px;
    font-size: 18px;

}

.learn_container{
    display: grid;
    grid-template-areas: 'learnInput learnLabel learnSend';
    grid-template-columns: 70% 15% auto;

    width: 100%;
    height: 100%;
}

.learnInput{
    grid-area: learnInput;

    font-size: 18px;
    padding: 0 0 0 15px;
}

.learnLabel{
    grid-area: learnLabel;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.learnSend{
    grid-area: learnSend;

    font-size: 14px;
    font-weight: bold;
}
.learnSend:focus{
    background-color: #138a07;
    border-color: #0e6305;
}

.loader {
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #138a07;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2.5s linear infinite; /* Safari */
  animation: spin 2.5s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.button_disconnect_hover:hover{
    background-color: red;
}

.button_connect_hover:hover{
    background-color: green;
}